<head>
    <meta name="title" content="$title$" />
    <meta name="date" content="$date$" />
    <meta name="slug" content="$slug$" />
    $for(tags)$
        <meta name="tag" content="$tags$" />
    $endfor$
    <meta name="excerpt" content="$excerpt$" />
    <meta name="date-modified" content="$date-modified$" />
    <meta name="static-dir" content="$static-dir$" />
    
    <meta name="django" content="{% load static %}">
    <meta name="django" content="{% block page_title %} $pagetitle$ {% endblock page_title %}">
    <meta name="django" content="{% block head_other %}">

    $for(author-meta)$
        <meta name="author" content="$author-meta$" />
    $endfor$
    $if(date-meta)$
        <meta name="dcterms.date" content="$date-meta$" />
    $endif$
    $if(keywords)$
        <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
    $endif$
    $if(description-meta)$
        <meta name="description" content="$description-meta$" />
    $endif$
    $for(header-includes)$
        $header-includes$
    $endfor$
    <meta name="django" content="{% endblock head_other %}">
    
    
    
    <meta name="django" content="{% block head_css %}">
    $for(css)$
        <link rel="stylesheet" href="$css$" />
    $endfor$
    <meta name="django" content="{% endblock head_css %}">
</head>

<body>
    <meta name="django" content="{% block before_body %}">
    $if(toc)$
        <nav id="TOC" class="TOC" role="doc-toc">
            $if(toc-title)$
                <h2 id="toc-title">$toc-title$</h2>
            $endif$ 
            $table-of-contents$
      </nav>
    $endif$
    <meta name="django" content="{% endblock before_body %}">
    
    <meta name="django" content="{% block body_content %}">
    $body$
    <meta name="django" content="{% endblock body_content %}">
</body>
